{% extends "mainApp/wrapper.html" %}
{% load staticfiles %}
{% block title %}Freshlife228 - Main Menu{% endblock %}

{% block style %}
<style>

</style>
{% endblock %}

{% block content %}
	<h2>Updated main page coming soon!</h2>
	<a class="box-link" href="/">
		<div class="aside__navbtn">
			<span class="btn-text">Home</span>
		</div>
	</a>
	<a class="box-link" href="calc/">
		<div class="aside__navbtn">
			<span class="btn-text">Calorie Calculator</span>
		</div>
	</a>
	<a class="box-link" href="planner/">
		<div class="aside__navbtn">
			<span class="btn-text">Meal Planner</span>
		</div>
	</a>
	<a class="box-link" href="my_plans/">
		<div class="aside__navbtn">
			<span class="btn-text">My meal plans</span>
		</div>
	</a>
	<a class="box-link" href="food/">
		<div class="aside__navbtn">
			<span class="btn-text">Add favourite food</span>
		</div>
	</a>
	<a class="box-link" href="logout/">
		<div class="aside__navbtn">
			<span class="btn-text">Logout</span>
		</div>
	</a>
{% endblock %}


